* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
}

.app-left {
  width: 20vw;
}

.app-right {
  width: 80vw;
}

@media (max-width: 700px) {
  .app-left {
    width: 35vw;
  }
  .app-right {
    width: 65vw;
  }
}